$screen-sm: 767px;
$screen-md: 1023px;
$screen-lg: 1024px;

@mixin mobile {
  @media (max-width: $screen-sm) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $screen-md) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $screen-lg) {
    @content;
  }
}
